<form class = "ui stacked segment form" action="/dramas/{{dramaId}}/updateDrama/{{id}}"  method="POST"
        >
        <tr class="hide" id="edit{{@index}}">
          
           <td class="field">
               <span class="ui input">
                  <input type="text" name="name" autofocus required 
                      title = "Please include a valid Name" placeholder="Name" 
					  value = "{{ name}}">
              </span>
          </td>
          
          <td class="field">
               <span class="ui input">
                  <input type="text" name="year_created" autofocus required 
                      title = "Please include a valid Creation Year" placeholder="Creation Year" pattern="\d{4}" maxlength="4"
					  value = "{{year_created}}">
              </span>
          </td>
          
             <td class="field">
               <span class="ui input">
                  <input type="text" name="genres" autofocus required 
                      title = "Please include a valid Genres" placeholder="Genres" 
					  value = "{{genres}}">
              </span>
          </td>
          
               <td class="field">
               <span class="ui input">
                  <input type="text" name="episode_count" autofocus required 
                      title = "Please include a valid Episode count" placeholder="Episode Count"  pattern="\d+"
					  value = "{{episode_count}}">
              </span>
          </td>
          
               <td class="field">
               <span class="ui input">
                  <input type="text" name="release_year" autofocus required 
                      title = "Please include a valid Release Year" placeholder="Release Year" pattern="\d{4}" maxlength="4"
					  value = "{{release_year}}">
              </span>
          </td>
          
               <td class="field">
               <span class="ui input">
                  <input type="text" name="actors" autofocus required 
                      title = "Please include a valid Actors" placeholder="Actors" 
					  value = "{{actors}}">
              </span>
          </td>
          
               <td class="field">
               <span class="ui input">
                  <input type="text" name="soundtracks" autofocus required 
                      title = "Please include a valid Soundtracks" placeholder="Soundtracks" 
					  value = "{{soundtracks}}">
              </span>
          </td>
          
          
           <td class="ui small image">
       <img src="{{dramaImage}}">
  </td>
          
           <td class="center aligned">
      <button type = "submit"  class="ui green icon button" 
	          title="Save changes">
        <i class="ui save icon"></i>
      </button>
    </td>
         <td class="center aligned">
      <button type = "reset" class="ui red icon button"  id="hideEdit{{@index}}"  
	          title="Exit without saving">
        <i class="ui undo icon"></i>
      </button>
    </td>
  
  </tr>
</form>